<template>
  <footer class="footer">
    <div class="container">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/" target="_blank">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}

</script>

<style>
.footer {
  #position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.footer a {
  font-size: 1.6rem;
  padding: 15px;
  color: #212529;
}

.footer a:hover {
  color: #1976d2;
}

</style>