<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
      <h2>Mini-Projeto: Tarefa 2.2 </h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link class="nav-link" to="/">Quem sou eu?</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/work">O que faço?</router-link>
          </li>
          <li class="nav-item">
            <router-link class="nav-link" to="/hobbies">Hobbies</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'Header'
  }
</script>

<style>
  .bg-blue {
    background-color: #1976d2;
    color: white;
  }
  .navbar-nav a {
    color: white !important;
  }
  .navbar-nav a:hover {
    color: #64b5f6 !important;
  }
  .navbar-nav .router-link-exact-active {
    text-decoration: underline;
  }


</style>