<template>
  <div class="container-full hobbies-page">
    <div id="carouselHobbies" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHobbies" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHobbies" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHobbies" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="../assets/hobbies-bg.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h1>Ciclismo</h1>
            <p>Passeios diarios de bicileta</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/hobbies-2.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h1>Natureza</h1>
            <p>Descobrir novos trilhos e desfrutar do contato com a natureza</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/hobbies-3.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <h1>Cinema</h1>
            <p>Desfrutar das tardes de cinema ao fim de semana.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHobbies" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselHobbies" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hobbies"
}
</script>

<style scoped>
  .carousel-item {
    height: 100%;
    max-height: 800px;

  }
  .carousel-item img {
    height: 100%;
    max-height: 800px;
    object-fit: cover;
  }
  .carousel-caption h1 {
    font-size: 3rem;
    text-shadow: 1px 1px #838383;
  }
  .carousel-caption p {
    font-size: 30px;
    text-shadow: 1px 1px #838383;
  }

  .hobbies-page {
    margin-bottom: 50px;
  }

</style>