<template>
  <div class="container-full">
    <div class="home-header-bg"></div>
    <div class="container home-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <img alt="Profile image" class="rounded-circle" width="200" src="@/assets/profile.jpg">
          <div class="contact-wrapper">
            <h1>Nuno Silva</h1>
            <p>2001499@estudante.uab.pt</p>
          </div>
        </div>
      </div>
      <div class="row academy-wrapper justify-content-center">
        <h2>Formação Académica</h2>
        <div class="col-sm-8">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@/assets/logo-uab.png" height="150" alt="Logo Universidade dos Açores">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Universidade Aberta</h5>
                  <p class="card-text">Mestrado em Tecnologias e Sistemas Informáticos Web</p>
                  <p class="card-text"><small class="text-muted">2020 - Até ao momento</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="@/assets/logo-uac.jpeg" height="150" alt="Logo Universidade dos Açores">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Universidade dos Açores</h5>
                  <p class="card-text">Licenciatura em Informática Redes e Multimédia</p>
                  <p class="card-text"><small class="text-muted">2009 - 2012</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'WhoAmI'
  }
</script>

<style scoped>

  .home-header-bg {
    width: 100%;
    height: 300px;
    background: url('../assets/work-bg.png') no-repeat 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-wrapper {
    padding-bottom: 80px;
    margin-top: -100px;
  }
  .home-wrapper .rounded-circle {
    border: 5px solid white;
  }
  .contact-wrapper {
    padding-top: 20px;
  }
  .academy-wrapper {
    margin: 50px 20px;
  }
  .card {
    padding: 15px;
    margin-top: 20px;
  }
  .card-body {
    text-align: left;
  }

</style>