<template>
  <div class="container-full work-wrapper">
    <div class="work-header-bg">
      <h1 class="fw-bold">Software Developer</h1>
    </div>
    <div class="container work-content-wrapper">
      <h2>Alguns Projetos Desenvolvidos</h2>

      <div class="row justify-content-center">
        <div class="col-md-4 col-lg-3" v-for="(item, index) in items" v-bind:key="index">
          <article class="card shadow-sm max-w-27rem transition-3d-hover mx-auto mb-5">
            <div class="card-header text-center rounded-lg-top">
              <div class="avatar d-block rounded p-2 mx-auto">
                <img class="avatar-img" v-bind:src="item.image" alt="Image Description">
              </div>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <h2 class="h4 mb-1">{{ item.title }}</h2>
                <small class="d-block text-body">{{ item.desc }}</small>
              </div>
              <a class="btn btn-block btn-primary" v-bind:href="item.url" target="_blank" tabindex="0">Visitar</a>
            </div>
          </article>
        </div>
      </div>

    </div>
  </div>

</template>

<script>
  export default {
    name: 'Work',
    data() {
      return {
        items: [
          {image: "https://www.azoresairlines.pt/themes/custom/sata_v4/images/Logo.svg", title: "Azores Airlines", desc: "Desenvolvimento e Manutenção", url: "https://www.azoresairlines.pt"},
          {image: "https://www.airstore.pt/image/catalog/Fotos%20Classes/Air-Store_websiteLogo.png", title: "Airstore", desc: "Desenvolvimento e Manutenção", url: "https://www.airstore.pt/"},
          {image: "https://whalewatchingazores.com/blog/wp-content/uploads/2020/01/logo-white-big.png", title: "Futurismo", desc: "Desenvolvimento e Manutenção", url: "https://whalewatchingazores.com/blog/"},
        ]
      }
    }
  }
</script>

<style>
  .work-header-bg {
    width: 100%;
    height: 300px;
    background: url('../assets/work_bg.jpeg') no-repeat 50% -50px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .work-wrapper h1 {
    color: white;
    text-shadow: 2px 2px #838383;
    font-size: 4rem;
  }
  .card-header,
  .avatar,
  .card .img-wrapper {
    background-color: #0e325c;
    height: auto;
  }
  .card-header {
    height: 102px;
    max-height: 102px;
  }
  .avatar-img {
    width: 100%;
    height: auto;
  }
  .btn-primary,
  .bg-primary {
    background-color: #1976d2;
  }

  .work-content-wrapper {
    padding: 70px 20px 100px;
  }

  .work-content-wrapper h2 {
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .avatar-img {
      width: auto;
      max-width: 100%;
      height: 100%;
    }
  }

</style>